header {
    background-color: #242424;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    height: 50px;
    width: auto;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ff4500; /* Change to desired hover color */
    cursor: pointer;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .search-bar button {
    background-color: #ff4500; /* Change to desired button color */
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #cc3700; /* Change to desired button hover color */
  }
  