<div>
    <div class="main-container">
        <aside class="advance-search-sidebar">

            <div class="sidebar-section">
                <h3 class="sidebar-heading">Release Date</h3>
                <ul class="sidebar-list">
                    <input type="date" name="releaseDateURL" [(ngModel)]="releaseDateURL"
                        (change)="handleDateChange($event)">
                </ul>
            </div>

            <div class="sidebar-section">
                <h3 class="sidebar-heading">Language</h3>
                <ul class="sidebar-list">
                    <select name="language" id="language" [(ngModel)]="languageURL"
                        (change)="handleLanguageChange($event)">
                        <option value="">Select language</option>
                        <option *ngFor="let language of languages" [value]="language.iso_639_1">{{ language.english_name
                            }}</option>
                    </select>
                </ul>
            </div>

            <div class="sidebar-section">
                <h3 class="sidebar-heading">Genres</h3>
                <ul class="sidebar-list">
                    <li *ngFor="let genre of genres">
                        <label class="checkbox-label">
                            <input type="checkbox" [id]="genre.id" [name]="genre.name" [value]="genre.id"
                                [(ngModel)]="genre.checked" (change)="handleGenreChange($event)">
                            {{ genre.name }}
                        </label>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="movie-list-container">
            <div class="movie-list">
                <div *ngFor="let m of tvList;" class="movie-card">
                    <img [src]="'https://image.tmdb.org/t/p/w500/' + m.poster_path" alt="Movie Poster"
                        class="movie-poster">
                    <button class="add-to-favorites-button" (click)="addToFavorites(m)">Add to Favorites</button>

                </div>
            </div>

        </div>
    </div>
</div>